<h1>{{ title }}</h1>
<hr>
<input 
    type="text"
    id="myInput" 
    (keyup)="onKey($event)"
    placeholder="Search for names">
<div *ngIf="this.identity.role == 'USER_ROLE'">
    <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col" id="check"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersToSearch; let i = index">
            <!--<th scope="row">{{ i+1 }}</th>-->
            <td id="check"><input type="checkbox" id="{{user.email}}"></td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
          
        </tbody>
      </table>
      <!-- paginacion -->
      <!--<ul class="pagination pull-right">
        <li *ngIf="page > 1"><a [routerLink]="['/contacts', prev_page]">Prev</a></li>
        <li *ngIf="pages !== page"><a [routerLink]="['/contacts', next_page]">Next</a></li>
      </ul>-->
      <br/>

      <button type="submit" class="btn btn-primary" (click)="addArr()">Send Email</button>
</div>

<div *ngIf="this.identity.role == 'ADMIN_ROLE'">
    <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Level</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersToSearch; let i = index">
            <td scope="row">{{ i+1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.level }}</td>
            <td *ngIf="identity._id != user._id">
              <input type="button" (click)="editUser( user._id )"
                class="btn btn-primary" value="Edit"/>
              <input type="button" (click)="deleteUser( user._id )"
                class="btn btn-danger" value="Delete"/>
            </td>
          </tr>
          
        </tbody>
      </table>
      <!-- paginacion -->
      <!--<ul class="pagination pull-right">
        <li *ngIf="page > 1"><a [routerLink]="['/contacts', prev_page]">Prev</a></li>
        <li *ngIf="pages !== page"><a [routerLink]="['/contacts', next_page]">Next</a></li>
      </ul>-->
</div>

<div *ngIf="status == 'edit'">
  <form #userEdit="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label>Name:</label>
      <label>{{ temp_user.name }}</label>
    </p>
    <p>
      <label>Last Name:</label>
      <label>{{ temp_user.last_name }}</label>
    </p>
    <p>
      <label>Email:</label>
      <label>{{ temp_user.email }}</label>
    </p>
    <p>
      <label>Role:</label>
      <input 
        type="text"
        name="role"
        #role="ngModel"
        [(ngModel)]="temp_user.role"
        class="form-control"
        placeholder="temp_user.role"/>
    </p>
    <p>
        <label>Level:</label>
        <input 
          type="text"
          name="level"
          #level="ngModel"
          [(ngModel)]="temp_user.level"
          class="form-control"
          placeholder="temp_user.level"/>
      </p>
      <input 
        type="submit"
        value="Send"
        class="btn btn-warning"
        [disabled]="!userEdit.form.valid"/>
  </form>
</div>

<app-footer></app-footer>


