<h3>Build Table Employess</h3>
<hr>

<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="7" class="text-center">Number Week {{ weekAndyear.week }}</th>
                </tr>
                <tr>
                    <th class="text-center" *ngFor="let d of days">{{ dates[d] | date }}</th>
                </tr>
                <tr>
                    <th class="text-center" *ngFor="let day of days">{{ day | titlecase }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts; let j = index">
                    <td *ngFor="let day of days; let i = index">
                        <ul id="mat[{{ shift }}][{{ day }}]" (click)="remove( shift, day )">
                            <li (drop)="drop($event, s, day)" (dragover)="allowDrop($event)"><button id="btn">X</button></li>
                            <li (drop)="drop($event, s, day)" (dragover)="allowDrop($event)"><button id="btn">X</button></li>
                            <li (drop)="drop($event, s, day)" (dragover)="allowDrop($event)"><button id="btn">X</button></li>
                        </ul>
                        <ul>
                            <li (click)="added( shift, day )"><i class="fa fa-plus-circle"></i></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary" (click)="autoBuild()">Auto Build</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-success" (click)="saveBuild()">Save Build</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Search Employess</h4>
                        <hr>
                        <div>
                            <select [(ngModel)]="selectedDay" name="first">
                                <option *ngFor="let day of days">{{ day }}</option>
                            </select>
                            <select [(ngModel)]="selectedShift" name="first">
                                <option *ngFor="let shift of shifts">{{ shift }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="listOpt">

                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="searchEmployess()">Search Employess</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Show All Employess</h4>
                        <hr>
                        <div>
                            <select [(ngModel)]="selectedEmployess" name="first">
                                <option *ngFor="let lv of employess">{{ lv.level }}</option>
                            </select>
                            <select [(ngModel)]="selectedDay" name="first">
                                <option *ngFor="let day of days">{{ day }}</option>
                            </select>
                            <select [(ngModel)]="selectedShift" name="first">
                                <option *ngFor="let shift of shifts">{{ shift }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="listAll">
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="showAll()">Show All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>