<h3>Buil Table Employees</h3>
<hr>
<div class="alert alert-success text-center" *ngIf="status === 'success' ">
    Employee assignment saved successfully
</div>
<div class="alert alert-success text-center" *ngIf="status === 'update' ">
    Employee assignment was update successfully
</div>
<div class="row">
   <div class="col-md-8">
    <div class="row">
        <div class="col text-center">
            <button id="decrement" class="btn btn-primary" (click)="decrementWeek()">Last Week</button>
            &nbsp;&nbsp;From {{ dates.sunday | date }} To {{ dates.saturday | date }}&nbsp;&nbsp;
            <a><span class="pseudolink" (click)="resetWeek()">return to actual week</span></a>&nbsp;&nbsp;
            <button id="increment" class="btn btn-primary" (click)="incrementWeek()">Next Week</button>
        </div>
    </div>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="8" class="text-center">Number Week {{ weekAndyear.week }}</th>
            </tr>
            <tr>
                <th></th>
                <th class="text-center" *ngFor="let day of days">{{ dates[day] | date }}</th>
            </tr>
            <tr>
                <th></th>
                <th class="text-center" *ngFor="let day of days">{{ day | titlecase }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Morning</td>
                <td *ngFor="let day of days">
                    <ul *ngIf="checkId" id="mat[{{day}}][morning]">
                        <li *ngFor="let user of finalManagement[day].morning; let i=index" id="{{i}}" (drop)="drop($event)" (dragover)="allowDrop($event)" class="{{day}}morning">{{ user == null? '' : user.nick_name }}</li>
                    </ul>
                    <ul *ngIf="!checkId" id="mat[{{day}}][morning]">
                    </ul>
                    <ul>
                        <li (click)="add( day, 'morning' )"><i class="fa fa-plus-circle"></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center">Afternoon</td>
                <td *ngFor="let day of days">
                    <ul *ngIf="checkId" id="mat[{{day}}][afternoon]">
                        <li *ngFor="let user of finalManagement[day].afternoon; let i=index" id="{{i}}" (drop)="drop($event)" (dragover)="allowDrop($event)" class="{{day}}afternoon">{{ user == null? '' : user.nick_name }}</li>
                    </ul>
                    <ul *ngIf="!checkId" id="mat[{{day}}][afternoon]">

                    </ul>
                    <ul>
                        <li (click)="add( day, 'afternoon' )"><i class="fa fa-plus-circle"></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center">Night</td>
                <td *ngFor="let day of days">
                    <ul *ngIf="checkId" id="mat[{{day}}][night]">
                        <li *ngFor="let user of finalManagement[day].night; let i=index" id="{{i}}" (drop)="drop($event)" (dragover)="allowDrop($event)" class="{{day}}night">{{ user == null? '' : user.nick_name }}</li>
                    </ul>
                    <ul *ngIf="!checkId" id="mat[{{day}}][night]">

                    </ul>
                    <ul>
                        <li (click)="add( day, 'night' )"><i class="fa fa-plus-circle"></i></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" (click)="autoBuild()">Auto Build</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" (click)="saveBuild()">Save Build</button>
        </div>
    </div>
   </div>
   <div id="column-2" class="col-md-4">
        <div class="row mx-5">
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>TEAM_LEADER</th>
                            <th>EMPLOYEE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul *ngFor="let user of users; let i=index">
                                    <li *ngIf="user.level === 'TEAM_LEADER'" id="drak_{{ i }}" (dragstart)="drag($event)" (dragend)="dragEnd($event)" draggable="true">{{ user.nick_name }}</li>
                                </ul>
                            </td>
                            <td>
                                <ul *ngFor="let user of users; let i=index">
                                    <li *ngIf="user.level === 'EMPLOYEE'" id="dral_{{ i }}" (dragstart)="drag($event)" (dragend)="dragEnd($event)" draggable="true">{{ user.nick_name }}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mx-5">
            <div class="container">
                <h4>Search by day and shift</h4>
                <hr>
                <div>
                    <select [(ngModel)]="selectedDay" name="first">
                        <option *ngFor="let day of days">{{ day }}</option>
                    </select>
                    <select [(ngModel)]="selectedShift" name="first">
                        <option *ngFor="let shift of shifts">{{ shift }}</option>
                    </select>
                    <button class="btn btn-primary" (click)="searchEmployess()">Search</button>
                </div>
                <br>
                <div *ngIf="booSearchEm">
                    <ul>
                        <li *ngFor="let user of searchEm; let i = index" id="dragg_{{ i }}" draggable="true" (dragstart)="drag($event, user, i)" (dragend)="dragEnd($event)">{{ user.nick_name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mx-5">
            <div class="container">
                <h4>Search by position, day and shift</h4>
                <hr>
                <div>
                    <select [(ngModel)]="selectedEmployess" name="first">
                        <option *ngFor="let lv of employess">{{ lv.level }}</option>
                    </select>
                    &nbsp;&nbsp;
                    <select [(ngModel)]="selectedDay1" name="first">
                        <option *ngFor="let day of days">{{ day }}</option>
                    </select>
                    &nbsp;&nbsp;
                    <select [(ngModel)]="selectedShift1" name="first">
                        <option *ngFor="let shift of shifts">{{ shift }}</option>
                    </select>&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)="showAll()">Show</button>
                </div>
                <br>
                <div *ngIf="boolSearchPos">
                    <ul>
                        <li *ngFor="let user of searchByPosition; let i = index" id="drag_{{ i }}" (dragstart)="drag($event)" (dragend)="dragEnd($event)" draggable="true">{{ user.nick_name }}</li>
                    </ul>      
                </div>
            </div>
        </div>
   </div>
</div>
<br><br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Show shift of employee</h4>
        <div class="col text-right">
            <select [(ngModel)]="selectedSearch" name="first">
                <option *ngFor="let us of users">{{ us.nick_name }}</option>
            </select>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" *ngIf="status === 'denied'">
            <div class="col">
                <div class="alert alert-success">
                    No exist shift for this week
                </div>
            </div>
        </div>
        <div class="row" *ngIf="status === 'no-exist'">
            <div class="col">
                <div class="alert alert-success">
                    No exist shift for this user
                </div>
            </div>
        </div>
        <div class="row" *ngIf="status === 'show'">
            <div class="col-md-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="8" class="text-center">{{ shiftUser.emitter.name + ' ' + shiftUser.emitter.last_name }}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="text-center" *ngFor="let day of days">{{ day }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mornirng</td>
                            <td *ngFor="let day of days">
                                {{ shiftUser[day].morning }}
                            </td>
                        </tr>
                        <tr>
                            <td>Afternoon</td>
                            <td *ngFor="let day of days">
                                {{ shiftUser[day].afternoon }}
                            </td>
                        </tr>
                        <tr>
                            <td>Night</td>
                            <td *ngFor="let day of days">
                                {{ shiftUser[day].night }}
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        {{ shiftUser.message }}
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" (click)="searchShift()">Show Shift</button>
            </div>
        </div>

    </div>
</div>
