<div class="container">
  <div class="alert alert-success">
    You can send shifts until Tuesday 23:59
  </div>
  <br>
  <div class="alert alert-success" *ngIf="status == 'success'">
    Values Save!
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Please check values!
  </div>
  <div class="alert alert-danger" *ngIf="status == 'denied'">
    We are sorry,
    but you will have to wait next week to send shifts or contact the administrator
    if you have any problems.
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="4">You need to {{ requestWeek.method }} shifts in this week</th>
          </tr>
          <tr>
            <th><span class="long">Morning</span></th>
            <th><span class="long">Afternoon</span></th>
            <th><span class="long">Night</span></th>
            <th><span class="long">Weekend</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ requestWeek.morning }}</td>
            <td>{{ requestWeek.afternoon }}</td>
            <td>{{ requestWeek.night }}</td>
            <td>{{ requestWeek.weekend }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span class="long">Morning</span></th>
            <th><span class="long">Afternoon</span></th>
            <th><span class="long">Night</span></th>
            <th><span class="long">Weekend</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ count_morning }}</td>
            <td>{{ count_afternoon }}</td>
            <td>{{ count_night }}</td>
            <td>{{ count_weekend }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- Finish col md 4 -->
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let d of days; let i = index">
              <span class="long">{{ dates[d] | date }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>morning</td>
              <td *ngFor="let day of days">
                <input
                  type="button"
                  value="{{ this.week[day].morning }}"
                  (click)="setValue( day, 'morning' )"
                  (dblclick)="resetValue(day, 'morning')">
              </td>
          </tr>
          <tr>
            <td>afternoon</td>
            <td *ngFor="let day of days">
              <input
                type="button"
                value="{{ this.week[day].afternoon }}"
                (click)="setValue( day, 'afternoon' )"
                (dblclick)="resetValue(day, 'afternoon')">
            </td>
          </tr>
          <tr>
            <td>night</td>
            <td *ngFor="let day of days">
              <input
                type="button"
                value="{{ this.week[day].night }}"
                (click)="setValue( day, 'night' )"
                (dblclick)="resetValue(day, 'night')">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group row">
        <div class="col-sm-10">
          <button
            id="btn-send"
            type="submit"
            class="btn btn-primary"
            (click)="sendValues()">Send Values</button>
        </div>
      </div>
    </div><!-- Finish col md 8 -->
  </div><!-- Finish row -->
</div>
<app-footer></app-footer>
