<div class="row">
  <div class="col">
    <div class="alert alert-success">
      You can send shifts until Tuesday 23:59
    </div>
  </div>
  <div class="col" *ngIf="status == 'success'">
    <div class="alert alert-success">
      Shifts Save!
    </div>
  </div>
  <div class="col" *ngIf="status == 'no-request'">
    <div class="alert alert-success">
      You have not sent shifts yet for next week
    </div>
  </div>
  <div class="col" *ngIf="status == 'error'">
    <div class="alert alert-danger">
      Please check shifts!
    </div>
  </div>
  <div class="col" *ngIf="status == 'denied'">
    <div class="alert alert-danger">
      We are sorry,
      but you will have to wait next week to send shifts or contact the administrator
      if you have any problems.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th *ngIf="requestWeek.method === 'open'" colspan="4">Minimun shifts you need to {{ requestWeek.method }} this week:</th>
        </tr>
        <tr>
          <th><span class="long">Morning</span></th>
          <th><span class="long">Afternoon</span></th>
          <th><span class="long">Night</span></th>
          <th><span class="long">Weekend</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ requestWeek.morning }}&nbsp;&nbsp;<i *ngIf="count_morning >= requestWeek.morning" class="fas fa-check"></i></td>
          <td>{{ requestWeek.afternoon }}&nbsp;&nbsp;<i *ngIf="count_afternoon >= requestWeek.afternoon" class="fas fa-check"></i></td>
          <td>{{ requestWeek.night }}&nbsp;&nbsp;<i *ngIf="count_night >= requestWeek.night" class="fas fa-check"></i></td>
          <td>{{ requestWeek.weekend }}&nbsp;&nbsp;<i *ngIf="count_weekend >= requestWeek.weekend" class="fas fa-check"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="4">{{ identity.name | titlecase }} {{ identity.last_name | titlecase }}'s shifts</th>
        </tr>
        <tr>
          <th><span class="long">Morning</span></th>
          <th><span class="long">Afternoon</span></th>
          <th><span class="long">Night</span></th>
          <th><span class="long">Weekend</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ count_morning }}</td>
          <td>{{ count_afternoon }}</td>
          <td>{{ count_night }}</td>
          <td>{{ count_weekend }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let d of days; let i = index">
            <span class="long">{{ dates[d] | date }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Morning</td>
          <td *ngFor="let day of days">
            <!--<input
              type="button"
              value="{{ this.week[day].morning }}"
              (click)="setValue( day, 'morning' )"
              (dblclick)="resetValue(day, 'morning')">-->
              <input type="button"
                id="{{day}}.morning"
                value="{{ week[day].morning }}"
                (click)="setValue( day, 'morning' )">
          </td>
        </tr>
        <tr>
          <td>Afternoon</td>
          <td *ngFor="let day of days">
            <!--<input
              type="button"
              value="{{ this.week[day].afternoon }}"
              (click)="setValue( day, 'afternoon' )"
              (dblclick)="resetValue(day, 'afternoon')">-->
              <input type="button"
                id="{{day}}.afternoon"
                value="{{ week[day].afternoon }}"
                (click)="setValue( day, 'afternoon' )">
          </td>
        </tr>
        <tr>
          <td>Night</td>
          <td *ngFor="let day of days">
            <!--<input
              type="button"
              value="{{ this.week[day].night }}"
              (click)="setValue( day, 'night' )"
              (dblclick)="resetValue(day, 'night')">-->
              <input type="button"
                id="{{day}}.night"
                value="{{ week[day].night }}"
                (click)="setValue( day, 'night' )">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        Message:
        <div class="from-group">
          <textarea cols="30" rows="4" [(ngModel)]="message" placeholder="{{ message }}"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button
          id="btn-send"
          type="submit"
          class="btn btn-primary"
          (click)="sendValues()">Send Shifts</button>
      </div>
    </div>
  </div>
</div>
<br><br>
<!--<app-footer></app-footer>-->
