<!-- Footer -->
<footer id="footer">
  <!-- Copyright -->
  <div class="row">
    <div class="col text-center">
      <div class="footer-copyright text-center py-3">Created and designed by:
        <a href="mailto:dmaman86@gmail.com" target="_top"> David Maman</a>
      </div>
    </div>
  </div>
  <!--<div class="footer-copyright text-center py-3">Created and designed by:
    <a href="mailto:dmaman86@gmail.com" target="_top"> David Maman</a>
  </div>-->
  <!-- Copyright -->

</footer>
<!-- Footer -->
