<h1 class="animated fadeIn fast">Employee Management App</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<img src="../../../assets/me.jpg" class="img-fluid" alt="created">
		<br><br>
	</div>
	<div class="col-md-8">
		<p class="animated fadeIn">
			My name is David Maman, I am a developer and this is my second project.
			<br>
			My first project was an application to send messages to Android.
			A very challenging project where I learned a lot about how to work on a server and client side.
			The project was developed on a server side in PHP and a client side in JAVA.
		</p>
		<h3>About 'Employee Managament':</h3>
		<p class="animated fadeIn">
			For a few years I have been working as a security guard, currently working at the 'President's Residence'.
			<br>
			Working as a security man means working shifts during the week.
			Until a few years ago employee management was manually, employees send to the manager what they can / can not work during a week and the manager tries to embed by that.
			If this is a small amount of workers then there is no problem, but if it is a lot of employees placement can be very problematic.
			Here my project, try to provide management solution
			<br>
			For this project I work with NodeJS, Express, Mongodb, MLab, Angular and Heroku.
		</p>
		<h3>How It Works:</h3>
		<p class="animated fadeIn">
			Registration is solely for the employee.<br>
			To register you need to contact the manager.<br>
			After log in there are several options and administrator notifications.<br>
			Option in Home Page:<br>
			<li>Profile page</li>
			<li>The Edit Personal Details page on this page does not require updating your password.</li>
			<li>Contact page: List of contacts in the system records. Mailing option is currently inactive.</li>
			<li>Week page: Here the employee is shown the number of shifts required for "opening".</li>
		
			To receive admin privileges please contact me by e-mail.
		</p>
	</div>
</div>
<!--<p class="animated fadeIn">
	My name is David Maman, I am a developer and this is my second project.
	<br>
	My first project was an application to send messages to Android.
	A very challenging project where I learned a lot about how to work on a server and client side.
	The project was developed on a server side in PHP and a client side in JAVA.
</p>
<h3>About 'Employee Managament':</h3>
<p class="animated fadeIn">
	For a few years I have been working as a security guard, currently working at the 'President's Residence'.
	<br>
	Working as a security man means working shifts during the week.
	Until a few years ago employee management was manually, employees send to the manager what they can / can not work during a week and the manager tries to embed by that.
	If this is a small amount of workers then there is no problem, but if it is a lot of employees placement can be very problematic.
	Here my project, try to provide management solution
</p>
<h3>How It Works:</h3>
<p class="animated fadeIn">
	Registration is solely for the employee.<br>
	To register you need to contact the manager.<br>
	After log in there are several options and administrator notifications.<br>
	Option in Home Page:<br>
	<li>Profile page</li>
	<li>The Edit Personal Details page on this page does not require updating your password.</li>
	<li>Contact page: List of contacts in the system records. Mailing option is currently inactive.</li>
	<li>Week page: Here the employee is shown the number of shifts required for "opening".</li>

	To receive admin privileges please contact me by e-mail.
</p>-->

<app-footer></app-footer>