<div class="row">
	<div class="col text-center">
		<h2>Employee Management App</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<br><br>
		<img src="../../../assets/me.jpg" class="img-fluid" alt="created">
		<p class="text-center"><small class="text-muted">Me in Prague ( 2018 )</small></p>
		<br><br>
	</div><!-- Finish col md 4 -->
	<div class="col-md-8">
		<h4><ins>About Me</ins></h4>
		<p>
			My name is David Maman, I am a developer and this is my second project.
			<br>
			My first project was an application for sending messages to Android phones.
			A very challenging project where I learned a lot about how to work on server and client side.
			The server side was written in PHP and the client side in JAVA.
		</p>
		<h4><ins>About Employee Managament</ins></h4>
		<p>
			For a few years I have been working as a security guard, currently working at the <i><b>President's Residence</b></i>.
			<br>
			Working as a security guard means working shifts.
			Up until a few years ago employee shift management was done manually, employees would send the manager what shifts they can / can not work during a week and the manager tried to take the requests into consideration.
			If their are a small amount of guards then this would be an easy proccess to do manually, but if their are a lot of employees, manual shift managment can become very problematic.
			I've created my project to try to provide a management solution.
			<br>
			On this project I am working with NodeJS, Express, Mongodb, MLab, Angular and Heroku.
		</p>
		<h4><ins>How It Works</ins></h4>
		<p>
			Registration is solely for the employee.<br>
			To register you need to contact the manager.<br>
			After log-in there are several options and administrator notifications.<br>
			Options in Home Page:<br>
			<li><i><b>Profile</b></i> page: This page shows the user's data. You can go to the <i><b>'Edit Personal Details'</b></i> page or go back to the main page.</li>
			<li><i><b>Contact</b></i> page: List of contacts in the system records. Mailing option is currently inactive.</li>
			<li><i><b>Shifts</b></i> page: Here the employee is shown the number of shifts he or she is required to <i>open</i>.</li>
			<br>
			To receive admin privileges please contact me by email.
		</p>
	</div><!-- Finish col md 8-->
</div>
