<h1>Profile of {{ identity.name }} {{ identity.last_name }}</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<img src="{{ url + 'get-image-user/' + identity.img }}" class="img-fluid" [alt]="identity.name">
		<br><br>
    <a *ngIf="identity.role === 'USER_ROLE'" [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Back</a>
    <a *ngIf="identity.role === 'ADMIN_ROLE'" [routerLink]="['/home-admin']" class="btn btn-outline-danger btn-block">Back</a>
	</div>
	<div class="col-md-8">
    <h3>Full Name</h3>
		<p>{{ identity.name + ' ' + identity.last_name }}</p>
    <hr>
    <h3>Email</h3>
		<p>{{ identity.email }}</p>
    <hr>
    <h3>Role</h3>
		<p>{{ identity.role }}</p>
		<hr>
		<h3>Level</h3>
		<p>{{ identity.level }}</p>
		<hr>
	</div>
</div>

<app-footer></app-footer>

