<div class="row">
  <div class="col-md-12">
    <h3 class="title">Welcome Admin {{ user.name | titlecase }} {{ user.last_name | titlecase }}</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    Menu:
    <ul>
      <li><a [routerLink]="['/profile']">My Profile</a></li>
      <li><a [routerLink]="['/contacts']">Contacts</a></li>
      <li><a [routerLink]="['/update-week']">Update Request Week</a></li>
      <li><a [routerLink]="['/register']">Create new user</a></li>
    </ul>
  </div><!-- Finish col md 4 -->
  <div class="col-md-8">
    <div class="alert alert-danger" *ngIf="status == 'error' ">
      Please try again later
    </div>
    <div class="alert alert-success" *ngIf="status == 'success' ">
     Message was send
    </div>
    Messages:
    <ck-editor name="editor1" [(ngModel)]="newText" skin="moono-lisa" language="en"></ck-editor>
    <!--<p>Value: {{ newText || 'empty' }}</p>-->
    <!--<form #messageForm="ngForm" (ngSubmit)="onSubmit( messageForm )">
      <textarea
        name="text"
        #text="ngModel"
        [(ngModel)]="text.text" 
        class="form-control"
        rows="5"
        id="comment"
        placeholder="{{ message.text }}">
                
      </textarea>-->
      <br><br>
      <div class="row">
        <div class="col">
          <!--<input 
            type="submit"
            value="Send"
            class="btn btn-success"
            [disabled]="!messageForm.form.valid"/>-->
            <input 
            type="submit"
            value="Send"
            class="btn btn-success"
            (click)="sendMessage()"/>
        </div>
        <div class="col text-right">
          <input
            type="submit"
            value="Delete"
            class="btn btn-danger"
            (click)="deleteMessage()"/>
        </div>
      </div>
    <!--</form>-->
  </div><!-- Finish col md 8 -->
</div><!-- Finish row -->





