<div class="container">
  <h3 class="title">Welcome Admin {{ user.name | titlecase }} {{ user.last_name | titlecase }}</h3>
  <div class="row">
    <div class="col-md-8">
      Menu:
      <ul>
        <li><a [routerLink]="['/profile']">My Profile</a></li>
        <li><a [routerLink]="['/edit-user']">Edit Profile</a></li>
        <li><a [routerLink]="['/contacts']">Contacts</a></li>
        <li><a [routerLink]="['/update-week']">Update Request Week</a></li>
        <li><a [routerLink]="['/register']">Create new user</a></li>
      </ul>
    </div><!-- Finish col md 8-->
    <div class="col-md-4">
      Messages:
      <form #messageForm="ngForm" (ngSubmit)="onSubmit( messageForm )">
        <textarea
          name="text"
          #text="ngModel"
          [(ngModel)]="text.text" 
          class="form-control"
          rows="5"
          id="comment"
          placeholder="{{ message.text }}">
                
        </textarea>
              
        <br>
        <input 
          type="submit"
          value="Send"
          class="btn btn-success"
          [disabled]="!messageForm.form.valid" />
        <input
          type="submit"
          value="Delete"
          class="btn btn-danger"
          (click)="deleteMessage()"/>
      </form>
    </div><!-- Finish col md 4-->
  </div><!-- Finish row -->
    
</div><!-- Finish container -->
<app-footer></app-footer>





