<h3>Shifts</h3>
<hr>
<div class="row">
    <div class="col text-center">
        <button id="decrement" class="btn btn-primary" (click)="decrementWeek()">Last Week</button>
        &nbsp;&nbsp;From {{ dates.sunday | date }} To {{ dates.saturday | date }}&nbsp;&nbsp;
        <a><span class="pseudolink" (click)="resetWeek()">return to actual week</span></a>&nbsp;&nbsp;
        <button id="increment" class="btn btn-primary" (click)="incrementWeek()">Next Week</button>
    </div>
</div>
<div *ngIf="status === 'rejected'">
    <div class="alert alert-danger">
        No exist shifts for this week
    </div>
</div>
<br><br>
<div *ngIf="status === 'success'">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="8" class="text-center">Number Week {{ weekAndyear.week }}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="text-center" *ngFor="let d of days">{{ dates[d] | date }}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="text-center" *ngFor="let day of days">{{ day | titlecase }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Morning</td>
                        <td *ngFor="let day of days">
                            <ul *ngFor="let user of finalManagement[day].morning">
                                <li *ngIf="user === 'undefined'"></li>
                                <li *ngIf="user === null"></li>
                                <li *ngIf="user">{{ user.nick_name }}</li>
                            </ul> 
                        </td>
                    </tr>
                    <tr>
                        <td>Afternoon</td>
                        <td *ngFor="let day of days">
                            <ul *ngFor="let user of finalManagement[day].afternoon">
                                <li *ngIf="user === 'undefined'"></li>
                                <li *ngIf="user === null"></li>
                                <li *ngIf="user">{{ user.nick_name }}</li>
                            </ul> 
                        </td>
                    </tr>
                    <tr>
                        <td>Night</td>
                        <td *ngFor="let day of days">
                            <ul *ngFor="let user of finalManagement[day].night">
                                <li *ngIf="user === 'undefined'"></li>
                                <li *ngIf="user === null"></li>
                                <li *ngIf="user">{{ user.nick_name }}</li>
                            </ul> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
