<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" (click)="comeBack()">{{ title }}</a>
  <ul class="nav navbar-nav navbar-right" *ngIf="identity">
    <li class="avatar">
      <img src="{{ url + 'get-image-user/' + identity.img }}" *ngIf="identity && identity.img"/>
    </li>
  </ul>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="identity">
    <div class="navbar-nav">
      <div *ngIf="this.identity.level == 'USER_ROLE'">
          <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </div>
      <div *ngIf="this.identity.level == 'ADMIN_ROLE'">
          <a class="nav-item nav-link active" [routerLink]="['/home-admin']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </div>
      <a class="nav-item nav-link disabled" (click)="logout()" routerLinkActive="active">LogOut</a>
      <a class="nav-item nav-link disabled" [routerLink]="['/about-me']" routerLinkActive="active">About Me</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" *ngIf="!identity">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-item nav-link" [routerLink]="['/register']">Register</a>
      <a class="nav-item nav-link disabled" [routerLink]="['/about-me']">About Me</a>
    </div>
  </div>

</nav>

<div class="container main-container">
  <router-outlet></router-outlet>
</div>-->

<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!--<div class="navbar-header">
          <a class="navbar-brand" (click)="comeBack()">{{ title }}</a>
      </div>-->
      <a class="navbar-brand" (click)="comeBack()">{{ title }}</a>

      <ul class="nav navbar-nav" *ngIf="identity">
          <div *ngIf="this.identity.level == 'USER_ROLE'">
            <li>
              <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div *ngIf="this.identity.level == 'ADMIN_ROLE'">
            <li>
              <a class="nav-item nav-link active" [routerLink]="['/home-admin']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
          </div>
          <li>
            <a class="nav-item nav-link disabled" (click)="logout()" routerLinkActive="active">LogOut</a>
          </li>
          <li>
            <a class="nav-item nav-link disabled" [routerLink]="['/about-me']" routerLinkActive="active">About Me</a>
          </li>
      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login</a>
        </li>
        <li>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-user"></span>
          Register</a>
        </li>
        <li>
            <a [routerLink]="['/about-me']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            About Me</a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!-- cargar imagen del usuario -->
          <img src="{{ url + 'get-image-user/' + identity.img }}" *ngIf="identity && identity.img"/>
        </li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ identity.name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              Mi Perfil</a>
            </li>
            <li>
              <a [routerLink]="['/mis-datos']">
              <span class="glyphicon glyphicon-cog"></span>
              Mis Datos</a>
            </li>
            <li>
              <a class="pointer" (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span>
              Cerrar Sesion</a>
            </li>
          </ul>
        </li>-->
      </ul>
      
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
