<div class="row">
  <div class="col-md-12">
    <h3 class="title">Welcome {{ user.name | titlecase }} {{ user.last_name | titlecase }}</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    Menu:
    <ul>
      <li><a [routerLink]="['/profile']">My Profile</a></li>
      <li><a [routerLink]="['/contacts']">Contacts</a></li>
      <li><a [routerLink]="['/user-week']">Shifts</a></li>
    </ul>
  </div><!-- Finish col md 8-->
  <div class="col-md-4">
    Messages:
    <ul>
      <li>{{ message.text }}</li>
    </ul>
  </div><!-- Finish col md 4-->
</div><!-- Finish row -->




