<div class="row">
  <div class="col-md-12">
    <h3 class="title">Welcome {{ user.name | titlecase }} {{ user.last_name | titlecase }}</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Menu:</h4>
    <ul>
      <li><a [routerLink]="['/profile']">My Profile</a></li>
      <li><a [routerLink]="['/contacts']">Contacts</a></li>
      <li><a [routerLink]="['/user-week']">Shifts</a></li>
    </ul>
  </div><!-- Finish col md 4 -->
  <div class="col-md-6">
    <h4> Messages:</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="text-center">{{ textDate }}</div>
          <hr>
          <div [innerHTML]="message.text"></div>
        </div>
      </div>
    </div>
  </div><!-- Finish col md 8 -->
</div><!-- Finish row -->




